html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #1b2224;
  margin: 0;
  line-height: 1.43;
}

.container {
  display: flex;
}

.email-search {
  padding:10px;
  text-align:right;
  font-size:16px;
  color:rgb(234, 234, 234);
  border: 2px solid rgb(234, 234, 234);
}
.email-search::placeholder {
  color: rgb(220, 220, 220);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar {
  height: 100%;
  min-width: 200px;
  color: #596468;
}

.sidebar-divider{
  margin-top:28px;
  padding: 20px 0 8px 10px;
  color:#3b4245;
  border-top:1px solid #3b4245;
  font-size: 12px;
}

.sidebar-item{
  height:20px;
  padding:12 12px 12px 20px;
  font-weight:800;
}

.sidebar-item:hover{
  cursor: pointer;
  background-color:#768084;
  color:#2b2b2b;
}

.active.sidebar-item {
  background-color:white;
  color:black;
}

#active-item-column{
  float:left;
  width:4px;
  height:44px;
  margin:-12px 0 0 -20px;
  background-color:#ce5135;
}

.sidebar-notification{
  padding:5px 10px 5px 10px;
  color:grey;
  font-weight: 700;
  border-radius:20px;
  margin-left:80px;
  font-size:10px;
  background-color:#1b2224;
  border:2px solid grey;
}

.active > .sidebar-notification{
  background-color: #ce5135;
  padding:7px 12px 7px 12px;
  color:white;
  font-weight: 700;
  border-radius:20px;
  margin-left:85px;
  font-size:10px;
  border:none;
}

.compose-btn {
  display: flex;
  background-color: #ce5135;
  border: none;
  border-radius: 3px;
  padding: 0.8em 3em;
  color: #fff;
  margin: 3.5em auto;
  margin-bottom: 2.5em;
  font-size: 1.05em;
  font-weight: lighter;
  cursor: pointer;
}

.email-panel {
  padding: 3em 4em;
  flex-grow: 1;
  max-width: 600px;
  background-color: #fff;
}

.email-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-header {
  font-weight: lighter;
  font-size: 3em;
  margin: 0;
  color: #444;
}

.email-list {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e9eff0;
}

.email-item {
  border-bottom: 1px solid #e9eff0;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.meta-data {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  opacity: 0.5;
}

